{% block content %}
<head>
  <meta charset="utf-8" />
      <title> Site about horses </title>
  </head>
  <h1 align="center"> Some pony stuff </h1>
<body bgcolor = #dbdbdb>
  <style>
  p {
 text-indent: 10px;
 font: Times New Roman;
 font-size: 200%
  }
  </style>
<p> I think, some dilly MLP themes won't do any harm. Here we have: </p>
<ul TYPE = "square">
  <li><a href="name">Unexpected GCD and LCM</a>;</li>
  <li><a href="hello">Some charaters names</a>;</li>
  <li><a href="Static_1.html">Pony songs? Why not...</a>.</li>
</ul>
</body>
{% endblock %}
