<UL TYPE = "circle"> <LI> Mane six + Spike: <a href="https://mlp.fandom.com/wiki/Twilight_Sparkle">Twilight Sparkle, </a>
    <a href="https://mlp.fandom.com/wiki/Applejack">Applejack, </a>
    <a href="https://mlp.fandom.com/wiki/Fluttershy">Fluttersy, </a>
    <a href="https://mlp.fandom.com/wiki/Rarity">Rarity, </a>
    <a href="https://mlp.fandom.com/wiki/Pinkie_Pie">Pinkie Pie, </a>
    <a href="https://mlp.fandom.com/wiki/Rainbow_Dash">Rainbow Dash, </a>
    <a href="https://mlp.fandom.com/wiki/Spike">Spike;</a><LI> Supporting charaters:
    <a href="https://mlp.fandom.com/wiki/Apple_Bloom">Apple Bloom, </a>
    <a href="https://mlp.fandom.com/wiki/Scootaloo">Scotaloo, </a>
    <a href="https://mlp.fandom.com/wiki/Sweetie_Belle">Sweetie Belle, </a>
    <a href="https://mlp.fandom.com/wiki/Babs_Seed">Babs Seed, </a>
    <a href="https://mlp.fandom.com/wiki/Gabby">Gabby;</a><LI>Royalty:
    <a href="https://mlp.fandom.com/wiki/Princess_Celestia">Princess Celestia, </a>
    <a href="https://mlp.fandom.com/wiki/Princess_Luna">Princess Luna, </a>
    <a href="https://mlp.fandom.com/wiki/Prince_Blueblood">Prince Blueblood, </a>
    <a href="https://mlp.fandom.com/wiki/Shining_Armor">Shining Armor, </a>
    <a href="https://mlp.fandom.com/wiki/Princess_Cadance">Princess Cadance, </a>
    <a href="https://mlp.fandom.com/wiki/Prince_Rutherford">Prince Rutherford, </a>
    <a href="https://mlp.fandom.com/wiki/Flurry_Heart">Flurry Heart, </a>
    <a href="https://mlp.fandom.com/wiki/Ember">Ember, </a>
    <a href="https://mlp.fandom.com/wiki/Thorax">Thorax, </a>
    <a href="https://mlp.fandom.com/wiki/Princess_Skystar">Princess Skystar, </a>
    <a href="https://mlp.fandom.com/wiki/Queen_Novo">Queen Novo, </a>
    <a href="https://mlp.fandom.com/wiki/Princess_Amore">Princess Amore;</a><LI>Apple family:
    <a href="https://mlp.fandom.com/wiki/Granny_Smith">Granny_Smith, </a>
    <a href="https://mlp.fandom.com/wiki/Big_McIntosh">Big McIntosh, </a>
    <a href="https://mlp.fandom.com/wiki/Braeburn">Braeburn, </a>
    <a href="https://mlp.fandom.com/wiki/Aunt_and_Uncle_Orange">Aunt and Uncle Orange, </a>
    <a href="https://mlp.fandom.com/wiki/Hayseed_Turnip_Truck">Hayseed Turnip Truck, </a>
    <a href="https://mlp.fandom.com/wiki/Apple_Strudel">Apple Strudel, </a>
    <a href="https://mlp.fandom.com/wiki/Auntie_Applesauce">Auntie Applesauce, </a>
    <a href="https://mlp.fandom.com/wiki/Apple_Rose">Apple Rose, </a>
    <a href="https://mlp.fandom.com/wiki/Goldie_Delicious">Goldie Delicious, </a>
    <a href="https://mlp.fandom.com/wiki/Bright_Mac_and_Pear_Butter">Bright Mac and Pear Butter, </a>
    <a href="https://mlp.fandom.com/wiki/Apple_family">Apple family;</a><LI>Pie family:
    <a href="https://mlp.fandom.com/wiki/Limestone_Pie_and_Marble_Pie">Limestone Pie and Marble Pie, </a>
    <a href="https://mlp.fandom.com/wiki/Igneous_Rock_Pie_and_Cloudy_Quartz">Igneous Rock Pie and Cloudy Quartz, </a>
    <a href="https://mlp.fandom.com/wiki/Maud_Pie">Maud_Pie, </a><LI>Shy family:
    <a href="https://mlp.fandom.com/wiki/Mr._and_Mrs._Shy">Mr. and Mrs. Shy</a>
    <a href="https://mlp.fandom.com/wiki/Zephyr_Breeze">Zephyr Breeze;</a><LI>Cake family:
    <a href="https://mlp.fandom.com/wiki/Mr._and_Mrs._Cake">Mr. and Mrs. Cake, </a>
    <a href="https://mlp.fandom.com/wiki/Pound_Cake_and_Pumpkin_Cake">Pound Cake and Pumpkin Cake;</a><LI>Young Six:
    <a href="https://mlp.fandom.com/wiki/Gallus">Gallus, </a>
    <a href="https://mlp.fandom.com/wiki/Silverstream">Silverstream, </a>
    <a href="https://mlp.fandom.com/wiki/Smolder">Smolder, </a>
    <a href="https://mlp.fandom.com/wiki/Yona">Yona, </a>
    <a href="https://mlp.fandom.com/wiki/Sandbar">Sandbar, </a>
    <a href="https://mlp.fandom.com/wiki/Ocellus">Ocellus;</a><LI>Rich family:
    <a href="https://mlp.fandom.com/wiki/Diamond_Tiara">Diamond Tiara, </a>
    <a href="https://mlp.fandom.com/wiki/Filthy_Rich">Filthy Rich, </a>
    <a href="https://mlp.fandom.com/wiki/Spoiled_Rich">Spoiled Rich;</a><LI>School-age ponies:
    <a href="https://mlp.fandom.com/wiki/Silver_Spoon">Silver Spoon, </a>
    <a href="https://mlp.fandom.com/wiki/Twist">Twist, </a>
    <a href="https://mlp.fandom.com/wiki/Snips">Snips, </a>
    <a href="https://mlp.fandom.com/wiki/Snails">Snails, </a>
    <a href="https://mlp.fandom.com/wiki/Sunny_Daze_and_Peachy_Pie">Sunny Daze and Peachy Pie, </a>
    <a href="https://mlp.fandom.com/wiki/Pipsqueak">Pipsqueak, </a>
    <a href="https://mlp.fandom.com/wiki/Featherweight">Featherweight, </a>
    <a href="https://mlp.fandom.com/wiki/Rumble">Rumble, </a>
    <a href="https://mlp.fandom.com/wiki/Filly_Guides">Filly Guides, </a>
    <a href="https://mlp.fandom.com/wiki/Zipporwhill">Zipporwhill, </a>
    <a href="https://mlp.fandom.com/wiki/Tender_Taps">Tender Taps, </a>
    <a href="https://mlp.fandom.com/wiki/Toola_Roola_and_Coconut_Cream">Toola Roola and Coconut Cream, </a>
    <a href="https://mlp.fandom.com/wiki/Wind_Sprint">Wind Sprint;</a><LI>Main antagonists:
    <a href="https://mlp.fandom.com/wiki/Princess_Luna#Nightmare_Moon">Nightmare Moon, </a>
    <a href="https://mlp.fandom.com/wiki/Queen_Chrysalis">Queen Chrysalis, </a>
    <a href="https://mlp.fandom.com/wiki/King_Sombra">King Sombra, </a>
    <a href="https://mlp.fandom.com/wiki/Lord_Tirek">Lord Tirek, </a>
    <a href="https://mlp.fandom.com/wiki/Adagio_Dazzle">Adagio Dazzle, </a>
    <a href="https://mlp.fandom.com/wiki/Aria_Blaze">Aria Blaze, </a>
    <a href="https://mlp.fandom.com/wiki/Sonata_Dusk">Sonata Dusk, </a>
    <a href="https://mlp.fandom.com/wiki/The_Storm_King">The Storm King, </a>
    <a href="https://mlp.fandom.com/wiki/Cozy_Glow">Cozy Glow, </a>
    <a href="https://mlp.fandom.com/wiki/Grogar">Grogar;</a><LI>Reformed antagonists:
    <a href="https://mlp.fandom.com/wiki/Gilda">Gilda, </a>
    <a href="https://mlp.fandom.com/wiki/Trixie">Trixie, </a>
    <a href="https://mlp.fandom.com/wiki/Discord">Discord, </a>
    <a href="https://mlp.fandom.com/wiki/Ahuizotl">Ahuizotl, </a>
    <a href="https://mlp.fandom.com/wiki/Garble">Garble, </a>
    <a href="https://mlp.fandom.com/wiki/Sunset_Shimmer">Sunset Shimmer, </a>
    <a href="https://mlp.fandom.com/wiki/Dr._Caballeron">Dr.Caballeron and </a>
    <a href="https://mlp.fandom.com/wiki/Dr._Caballeron%27s_henchponies">henchponies, </a>
    <a href="https://mlp.fandom.com/wiki/Starlight_Glimmer">Starlight Glimmer, </a>
    <a href="https://mlp.fandom.com/wiki/Juniper_Montage">Juniper Montage, </a>
    <a href="https://mlp.fandom.com/wiki/Stygian">Stygian, </a>
    <a href="https://mlp.fandom.com/wiki/Tempest_Shadow">Tempest Shadow, </a>
    <a href="https://mlp.fandom.com/wiki/Grubber">Grubber, </a>
    <a href="https://mlp.fandom.com/wiki/Wallflower_Blush">Wallflower Blush, </a>
    <a href="https://mlp.fandom.com/wiki/Chancellor_Neighsay">Chancellor Neighsay, </a>
    <a href="https://mlp.fandom.com/wiki/Vignette_Valencia">Vignette Valencia, </a>
    <a href="https://mlp.fandom.com/wiki/Kiwi_Lollipop_and_Supernova_Zap">Kiwi Lollipop and Supernova Zap;</a><LI>Other pony antagonists:
    <a href="https://mlp.fandom.com/wiki/Shadowbolts">The Shadowbolts, </a>
    <a href="https://mlp.fandom.com/wiki/Boy_Bullies">Boy Bullies, </a>
    <a href="https://mlp.fandom.com/wiki/Flim_and_Flam">Flim and Flam, </a>
    <a href="https://mlp.fandom.com/wiki/Lightning_Dust">Lightning Dust, </a>
    <a href="https://mlp.fandom.com/wiki/Mane-iac">The Mane-iac and </a>
    <a href="https://mlp.fandom.com/wiki/Mane-iac%27s_henchponies">henchponies, </a>
    <a href="https://mlp.fandom.com/wiki/Suri_Polomare">Suri Polomare, </a>
    <a href="https://mlp.fandom.com/wiki/Wind_Rider">Wind Rider, </a>
    <a href="https://mlp.fandom.com/wiki/Characters">e.t.c.</a>
</ul>